<header class="header">
  <div class="nav-top">
    <ul>
      <li><a href="#">Каталог</a></li>
      <li><a href="#">О компании</a></li>
      <li><a href="#">Контакты</a></li>
      <li><a href="#">Доставка</a></li>
      <li><a href="#">Оплата</a></li>
      <li><a href="#">Личный кабинет</a></li>
    </ul> 
  </div>
  <div class="header__info">
    <div class="header__contacts">
      <p>+7(999)123-45-67</p>
      <p>sales@company.ru</p>
    </div>
    <div class="header__logo">
      Furniture store
    </div>
    <div class="header__toolbar">
      <div class="header__toolbar__search">
        <input type="text" placeholder="Поиск">
        <button class="header__toolbar__item header__toolbar__btn">
          <i class="fas fa-search"></i>
        </button>
      </div>
      <div class="header__toolbar__item header__toolbar__comparison"><i class="fas fa-chart-bar"></i></div>
      <div class="header__toolbar__item header__toolbar__cart"><i class="fas fa-shopping-cart"></i></div>
    </div>
  </div>
  <nav class="nav-main">
    <ul>
      <li><a href="#">ДИВАНЫ И КРЕСЛА</a></li>
      <li><a href="#">СТУЛЬЯ</a></li>
      <li><a href="#">СТОЛЫ</a></li>
      <li><a href="#">СИСТЕМЫ ХРАНЕНИЯ</a></li>
      <li><a href="#">ОСВЕЩЕНИЕ</a></li>
      <li><a href="#">КОМПЛЕКТЫ</a></li>
    </ul> 
  </nav>
</header>