<header class="header">
  <div class="nav-top">
    <ul>
      <li><a href="#">Каталог</a></li>
      <li><a href="#">О компании</a></li>
      <li><a href="#">Контакты</a></li>
      <li><a href="#">Доставка</a></li>
      <li><a href="#">Оплата</a></li>
      <li><a href="#">Личный кабинет</a></li>
    </ul> 
  </div>
  <div class="header__info">
    <div class="header__contacts">
      <p>+7(999)123-45-67</p>
      <p>sales@company.ru</p>
    </div>
    <a class="header__logo" href="#">
      Furniture store
    </a>
    <div class="header__toolbar">
      <div class="header__toolbar__search">
        <div class="header__toolbar__search-help" [ngClass]="toggleHide" *ngIf="isShow">
          <input type="text" placeholder="Поиск" min="2" required  #liveSearch (input)="inputLiveSearch($event.target.value, $event.target)"  >
          <ul *ngIf="liveSearch.validity.valid">
            <!-- {{liveSearch.validity.valid}} -->
            <li *ngFor="let product of searchAnswer | async " (click)="liveSearch.value = product.title">{{product.title}}</li>
          </ul>  
          <!-- <pre>{{searchAnswer | async | json}}</pre> -->
        </div>
        <!-- <input type="text" placeholder="Поиск" [ngClass]="toggleHide" *ngIf="isShow" #liveSearch (input)="inputLiveSearch($event.target.value)" (keydown.enter)="inputLiveSearch($event.target.value)"> -->
        <button class="header__toolbar__item header__toolbar__btn"  (click)="isShow = !isShow">
          <i class="fas fa-search"></i>
        </button>
      </div>
      <div class="header__toolbar__item header__toolbar__comparison"><i class="fas fa-chart-bar"></i></div>
      <div class="header__toolbar__item header__toolbar__cart"><i class="fas fa-shopping-cart"></i></div>
    </div>
  </div>
  <nav class="nav-main">
    <ul (click)="clickTitle($event)">
      <li><a routerLink="/products" routerLinkActive="nav-main__active">ВЕСЬ ТОВАР</a></li>

      <!-- <ng-container *ngFor="let title of products$ | async | uniqTitle">
        <li><a [routerLink]="['/products', title.filter.type]" routerLinkActive="nav-main__active">{{title.type}}</a></li>
      </ng-container> -->
      
      <li><a routerLink="/contacts" routerLinkActive="nav-main__active">ДИВАНЫ И КРЕСЛА</a></li>
      <li><a routerLinkActive="nav-main__active">СТУЛЬЯ</a></li>
      <li><a routerLinkActive="nav-main__active">СТОЛЫ</a></li>
      <li><a routerLinkActive="nav-main__active">ОСВЕЩЕНИЕ</a></li>
      <li><a routerLinkActive="nav-main__active">КОМПЛЕКТЫ</a></li>
    </ul> 
  </nav>
</header>
<!-- <pre> -->
  <!-- {{arrTitleUniq}} -->
    <!-- {{products$.type | async}} -->
<!-- </pre> -->