<aside class="asideFilters">
  <p>Фильтр</p>
  <!-- <div class="asideFilters__item">
    <div class=""><p>Материал</p> <i class="fas fa-angle-down"></i></div>
    <ul>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
    </ul>
  </div> -->
  <form action="" (click)="openFilter($event)">
    <div class="asideFilters__item">
      <button class="asideFilters__btn">
        <span class="asideFilters__title">Цвет</span>
        <span class="asideFilters__icon"><i class="fas fa-angle-down"></i></span>
      </button>
      <ul>
        <li><input type="checkbox" id="color-black"><label class="checkbox-label fas" for="color-black">  <span>черный</span> </label></li>
        <li><input type="checkbox" id="color-white"><label class="checkbox-label fas" for="color-white"><span>белый</span></label></li>
        <li><input type="checkbox" id="color-red"><label class="checkbox-label fas" for="color-red"><span>красный</span></label></li>
        <li><input type="checkbox" id="color-light-wood"><label class="checkbox-label fas" for="color-light-wood"><span>светлое дерево</span></label></li>
        <li><input type="checkbox" id="color-red-tree"><label class="checkbox-label fas" for="color-red-tree"><span>красное дерево</span></label></li>
      </ul>
    </div>
    <div class="asideFilters__item">
      <button class="asideFilters__btn">
        <span class="asideFilters__title">Высота</span>
        <span class="asideFilters__icon"><i class="fas fa-angle-down"></i></span>
      </button>
    </div>
    <div class="asideFilters__item">
      <button class="asideFilters__btn">
        <span class="asideFilters__title">Глубина</span>
        <span class="asideFilters__icon"><i class="fas fa-angle-down"></i></span>
      </button>
    </div>
    <div class="asideFilters__item">
      <button class="asideFilters__btn">
        <span class="asideFilters__title">Ширина</span>
        <span class="asideFilters__icon"><i class="fas fa-angle-down"></i></span>
      </button>
    </div>
    <div class="asideFilters__item">
      <button class="asideFilters__btn">
        <span class="asideFilters__title">Материал</span>
        <span class="asideFilters__icon"><i class="fas fa-angle-down"></i></span>
      </button>
    </div>
    <div class="asideFilters__item">
      <button class="asideFilters__btn">
        <span class="asideFilters__title">Цена</span>
        <span class="asideFilters__icon"><i class="fas fa-angle-down"></i></span>
      </button>
    </div>
  </form>
</aside>
