
<div class="furniture">
    <div>
        <!-- {{searchAnswer | async | json  }} -->
        <!-- <pre *ngFor="let product of searchAnswer  | async ">
            <p>{{product.title}}</p> -->
          <!-- {{products | async | json }} -->
        <!-- </pre> -->
    </div>
    <!-- <div class="furniture__list">
      <ng-container *ngFor="let product of searchAnswer | async | titleFilter:(navTitletext | async)">


          <div class="furniture__item">
            <a href="#" class="furniture__img">
              <img src="{{product.img}}" alt="мебель">
            </a>
            <div class="furniture__description">
              <div class="furniture__description__title">{{product.title}}</div>
              <div class="furniture__description__price">{{product.price}} грн</div>
            </div>
          </div>
    
        </ng-container>
      </div> -->





  <div class="furniture__list">

    <ng-container *ngFor="let product of products | titleFilter:(navTitletext | async)">


      <div class="furniture__item" [routerLink]="[product.id]">
        <a  class="furniture__img">
          <img src="{{product.img}}" alt="мебель">
        </a>
        <div class="furniture__description">
          <div class="furniture__description__title">{{product.title}}</div>
          <div class="furniture__description__price">{{product.price}} грн</div>
        </div>
      </div>

    </ng-container>

    <!-- <ng-container *ngFor="let product of productsCategory | async)" >


        <div class="furniture__item" [routerLink]="[product.id]">
          <a  class="furniture__img">
            <img src="{{product.img}}" alt="мебель">
          </a>
          <div class="furniture__description">
            <div class="furniture__description__title">{{product.title}}</div>
            <div class="furniture__description__price">{{product.price}} грн</div>
          </div>
        </div>
  
      </ng-container> -->

  </div>

</div>